* {
    box-sizing: border-box;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    clear: both;
}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}

/*mobile default*/

.col-1,
.col-1-7,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    width: 100%
}

@media only screen and (min-width: 1024px) {
    .col-1 {
        width: 8.33%;
    }
    .col-1-7 {
        width: 14.25%;
    }
    .col-1-wide {
        width: 12.5%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-6-full {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
        font-size: 0;
        display: inline-block;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 64%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .col-12-full {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        font-size: 0;
    }
    #testimonials .testimonial-extended .testimonial-image,
    #testimonials .testimonial-extended .testimonial-text {
        display: inline-block;
        width: 50%;
    }
    #testimonials .testimonial-extended img {
        width: 100%;
        position: relative;
        float: left;
        margin-right: 1rem;
    }
    #testimonials #Jerry-full .testimonial-text p {
        padding-top: 20%;
    }
    #testimonials #Jessica-full .testimonial-text p {
        padding-top: 30%;
    }
    #testimonials #Mike-full .testimonial-text #mike-opener {
        padding-top: 30%;
    }
    #testimonials #Ray-Monica-full .testimonial-text p {
        font-size: .9rem;
    }
}

/*tablet portrait*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .col-1 {
        width: 8.33%;
    }
    .col-1-7 {
        width: 25%;
    }
    .col-1-wide {
        width: 12.5%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-6-full {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
        font-size: 0;
        display: inline-block;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 64%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .col-12-full {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        font-size: 0;
    }
    .section-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .method,
    .logistics {
        width: 100%;
        /* padding-left: 2rem;
        padding-right: 2rem; */
    }
    .logistics {
        padding-top: 3rem;
        padding-left: 15%;
        padding-right: 15%;
    }
    .story-thumbnail {
        height: 360px;
    }
    .testimonial-extended {
        display: inline-block;
    }
    .testimonial-image {
        float: left;
        width: 50%;
        margin-right: .6rem;
        margin-bottom: .6rem;
    }
    .testimonial-text {
        width: 100%;
        display: block;
    }
    #Kevin-full .testimonial-image,
    #Kevin-full .testimonial-text {
        width: 100%;
    }
    /* #Jerry-full .testimonial-image,
    #Jerry-full .testimonial-text, */
    #Jessica-full .testimonial-image,
    #Jessica-full .testimonial-text {
        width: 50%;
        display: inline-block;
        margin: 0;
        overflow: auto;
    }
    .testimonial-text {
        padding-bottom: 2rem;
        padding-top: 0;
    }
    .double {
        width: 50%;
        display: inline-block;
        margin: 0;
    }
}